<!--recipient account form section-->
<div class="">
    
    <div class="recipient-account-form">
        
        <form #personalLinkForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group recipient-account-section">
                <h4>Create Account</h4>
                <input type="text" placeholder="First Name" ngControl="applicantFirstName" [(ngModel)]="enrollModel.applicantFirstName" #applicantFirstName="ngForm" class="link-type-input">
                <input type="text" placeholder="Middle Initial" ngControl="applicantMiddleInitial" [(ngModel)]="enrollModel.applicantMiddleInitial" #applicantMiddleInitial="ngForm" class="link-type-input">
                <input type="text" placeholder="LastName" ngControl="applicantLastName" [(ngModel)]="enrollModel.applicantLastName" #applicantLastName="ngForm" class="link-type-input">                
            </div>
            
            <div class="form-group recipient-account-section">
                <p class="recipient-account-section-text">ARIIX Account</p>
                
                <input type="text" placeholder="Create ARIIX ID (Username)" ngControl="username" [(ngModel)]="enrollModel.username" #username="ngForm" class="link-type-input">
                <input type="password" placeholder="Password" ngControl="password" [(ngModel)]="enrollModel.password" #password="ngForm" class="link-type-input">
                <input type="password" placeholder="Re-enter Password" ngControl="password" [(ngModel)]="enrollModel.password" #password="ngForm" class="link-type-input">
            </div>

            <div class="form-group recipient-account-section">
                <p class="recipient-account-section-text">Contact Information</p>
                <input type="tel" placeholder="Mobile Phone Number" ngControl="mobilePhone" [(ngModel)]="enrollModel.mobilePhone" #cellPhone="ngForm" class="link-type-input">
                <input type="email" placeholder="Email" ngControl="email" [(ngModel)]="enrollModel.email" #email="ngForm" class="link-type-input">        
            </div>

            <div class="form-group recipient-account-section">
                <p class="recipient-account-section-text">Shipping Information</p>
                <input type="text" placeholder="Address 1" ngControl="address1" [(ngModel)]="enrollModel.address1" #address1="ngForm" class="link-type-input">
                <input type="text" placeholder="Address 2" ngControl="address2" [(ngModel)]="enrollModel.address2" #address2="ngForm" class="link-type-input">
                <input type="text" placeholder="City" ngControl="city" [(ngModel)]="enrollModel.city" #city="ngForm" class="link-type-input">
                <select type="text" placeholder="State" ngControl="state" [(ngModel)]="enrollModel.state" #state="ngForm" class="link-type-input">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>     
                </select>
                <input type="text" placeholder="Zip Code" ngControl="zipCode" [(ngModel)]="enrollModel.zipCode" #zipCode="ngForm" class="link-type-input">
                <select type="text" placeholder="Country" ngControl="country" [(ngModel)]="enrollModel.country" #country="ngForm" class="link-type-input" #countryItem (change)="onSelect(countryItem)">
                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>                 
                </select>
            </div>

            <div class="form-group recipient-account-section">
                <p class="recipient-account-section-text">Billing Information</p>
                <input type="text" placeholder="Name on card" ngControl="cardName" [(ngModel)]="enrollModel.cardName" #cardName="ngForm" class="link-type-input">
                <input type="text" placeholder="Card no." ngControl="cardNumber" [(ngModel)]="enrollModel.cardNumber" #cardNumber="ngForm" class="link-type-input">
                
                <select type="text" placeholder="expMonth" ngControl="expMonth" [(ngModel)]="enrollModel.expMonth" #expMonth="ngForm" class="link-type-input" id="expMonth" #countryItem (change)="onSelect(countryItem)">
                    <option *ngFor="let expMonth of expMonths" [value]="expMonth">{{expMonth}}</option>                 
                </select>
                <select type="text" placeholder="expYear" ngControl="expYear" [(ngModel)]="enrollModel.expYear" #expYear="ngForm" class="link-type-input" id="expYear" #countryItem (change)="onSelect(countryItem)">
                    <option *ngFor="let expYear of expYears" [value]="expYear">{{expYear}}</option>                 
                </select>
            </div>
            <div class="form-group consent">
                <input #si type="checkbox" value="yes" name="pubok" id="pubok" [checked]=false (change)="onChecked(checked, si.checked)">
                <label attr.for="pubok"> </label> Same address for billing.
            </div>
            <a>
                <button [routerLink]="['EnrollProduct']" type="submit" class="btn" >CREATE ACCOUNT</button>
            </a>
        </form> <!--end form--> 
    </div>
</div><!--end enrollment form section-->
