$color-primary: rgb(41, 130, 217) !default;
$bg-color: white;
$menu-inactive: #D8D8D8;
$menu-active: #AC955B;
$header-color: #B19B65;
$button-color: #AC955B;
$inactive-txt: #9CA09E;
$review-title: #828784;